<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >
	<targets async="true">
		<target xsi:type="File" name="fileTarget" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${callsite:className=true:includeSourcePath=false:methodName=true}|${message:withexception=true}" />
		<target xsi:type="ColoredConsole" name="consoleTarget"  layout="${longdate}|${level:uppercase=true}|${callsite:className=true:includeSourcePath=false:methodName=true}|${message:withexception=true}" />
		<!-- <target xsi:type="Memory" name="memoryTarget"  layout="${longdate}|${level:uppercase=true}|${callsite:className=true:includeSourcePath=false:methodName=true}|${message:withexception=true}" /> -->
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="consoleTarget" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="fileTarget" />
		<!-- <logger name="*" minlevel="Trace" writeTo="memoryTarget" /> -->
	</rules>
</nlog>